---
Checks:            '*, -fuchsia-trailing-return, -fuchsia-overloaded-operator, -fuchsia-default-arguments-calls, -hicpp-braces-around-statements, -readability-braces-around-statements'
WarningsAsErrors:  '*'
HeaderFilterRegex: 'kmn/.*'
FormatStyle:        none
